.services {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #9fd3c7;
    flex-direction: column;

    h2 {
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 20px;
        color: #004445;
    }
    h1{
        font-size: 42px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        color: #004445;
    }

    .container {
    display: flex;


        .wrapper {
            width: 300px;
            height: 500px;
            background: #fff;
            border-radius: 10px;
            margin-left: 50px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: .4s ease-in-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            }

            img {
                width: 100%;
            }
            h4 {
                margin-top: 10px;
                font-size: 21px;
                font-weight: bold;
                color: #004445;
            }

            p {
                font-size: 16px;
                color: #004445;
                margin-top: 10px;
            }
            .btn {
                padding: 17px 32px;
                border-radius: 5px;
                background: #5be7a9;
                cursor: pointer;
                border: none;
                outline: none;
                transition: background 0.3s ease;
                color: lightcyan;
                font-weight: bold;
                margin-top: 10px;
                font-size: 17px;
                box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.13);

                &:hover {
                    background: #2ecc71;
                    color: #131720;
                }
            }

        }
    }
}
