.creativity {
    background: #fefefe;
    color: #333;
    padding: 20px;

    .intro {
        text-align: center;

        h1 {
            font-size: 37px;
            color: #007bff;
        }

        p {
            font-size: 1.2rem;
            margin-top: 10px;
            line-height: 1.5;
        }
    }

    .gallery {
        margin: 20px 0;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .gallery-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            img {
                width: 100%;
                height: 350px;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                object-fit: cover;
                transition: 0.4s ease-in-out;
                box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.33);

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .process {
        text-align: left;
        margin: 20px auto;
        max-width: 800px;

        h2 {
            margin-bottom: 10px;
        }

        ol {
            margin-left: 20px;
            li {
                margin-bottom: 10px;

                strong {
                    color: #007bff;
                }
            }
        }
    }

    .cta {
        text-align: center;

        .cta-button {
            padding: 10px 20px;
            font-size: 1.2rem;
            color: #fff;
            background: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
            margin-top: 20px;

            &:hover {
                background: #0056b3;
            }
        }
    }
}
