.newPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../../../assets/mm.jpg);
    background-size: cover;
    background-position: center;

    .formPassword {
        width: 500px;
        padding: 50px;
        border-radius: 10px;
        backdrop-filter: blur(15px);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 22px 9px rgba(91, 231, 169, 0.33);

        .close {
            position: absolute;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 2px solid rgba(91, 231, 169, 0.6);
            transition: 0.2s ease-in;

            &:hover {
                background-color: lightcyan;
            }

            .closeInput {
                font-size: 34px;
                position: absolute;
                color: #5be7a9;
                cursor: pointer;
                font-weight: bold;
                z-index: 1;
                transition: 0.2s ease-in;

                &:hover {
                    color: #000;
                }
            }
        }

        h2 {
            color: lightcyan;
            text-align: center;
            font-size: 36px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            width: 100%;

            .input-box {
                width: 100%;
                height: 45px;
                position: relative;
                align-items: center;
                display: flex;

                input {
                    width: 100%;
                    height: 100%;
                    padding: 0 25px;
                    border: none;
                    background: transparent;
                    font-size: 16px;
                    color: lightcyan;
                    font-weight: bold;
                    border: 2px solid #5be7a9;
                    box-shadow: 0px 0px 22px 9px rgba(91, 231, 169, 0.33);
                    border-radius: 5px;
                    outline: none;

                    &::placeholder {
                        color: lightcyan;
                    }
                }
            }

            .btn {
                width: 100%;
                height: 35px;
                background: #5be7a9;
                border: none;
                color: #000;
                font-size: 16px;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 22px 9px rgba(91, 231, 169, 0.33);
                transition: 0.5s all ease-in-out;

                &:hover {
                    background: #2c786c;
                    color: lightcyan;
                    box-shadow: 0px 0px 22px 9px rgba(54, 98, 106, 0.33);
                }
            }

            .iconUser {
                font-size: 23px;
                color: lightcyan;
                position: absolute;
                right: 10px;
            }
        }
    }
}
